*{
  margin: 0px;
  padding: 0px;
}
#chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#chat-window {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

#message-input {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 15px;
  padding-right: 75px;
  border-radius: 10px;
  border: 0.1px solid black ;
  
}

#send-btn {
  position: absolute;
  right: 15px;
  bottom: 20px;
  border: 0px;
  height: 40px;
  width: 40px;
  background:url(./files/send.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#chat-window div {
  border: 0px solid black ;
  border-radius: 0px 10px 10px 10px;
  background-color: rgb(100, 219, 100);
  margin: 10px 0px 10px 0px;
  padding: 7px;
  width: max-content;
}
#username-input {
  position: absolute;
  top: 20px;
  left: 20px;
}
#login-btn {
  position: absolute;
  top: 40px;
  left: 20px;
}